:root {
  --maincolor: #17aa56;
  --maincolor-darker: #119e4d;
  --confirmcolor: green;
  --contrast: #ffde58;
  --abort: rgb(240, 146, 146);
  --abort-ready: red;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-transform: uppercase;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 700;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
  background-color: var(--maincolor);

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
}

.app {
  max-width: 400px;
}

@media screen and (max-width: 400px) {
  * {
    font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (400 - 300)));
  }
}

.wrapper {
  padding: 0 15px;
}

input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  
  border-radius: 5px;
  border: none;
  letter-spacing: 0.5px;
}

input:focus {
  outline: none;
}

.input-wrapper {
  position: relative;
}

.delete {
  cursor: pointer;
}

.delete::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  right: 10px;
  width: 25px;
  height: 4px;
  background-color: var(--abort);
  transform: rotate(-45deg);
}

.delete::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  right: 10px;
  width: 25px;
  height: 4px;
  background-color: var(--abort);
  transform: rotate(45deg);
}

.delete:hover::before, .delete:hover::after {
  height: 5px;
  background-color: var(--abort-ready);
}

.delete:active::before, .delete:active::after {
  transition: 0.2s;
  transform: rotate(180deg);
  background-color: var(--abort-ready);
}

.button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 4px solid white;
  color: white;
  background-color: var(--maincolor);
}

.button:hover {
  background-color: var(--maincolor-darker);
  transform: scale(1.01);
}

.button:active {
  animation: buttonClick 0.1s;
}

.answer {
  height: 40px;
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
}

.positive {
  color: var(--contrast);
}

.negative {
  color: var(--confirmcolor);
}

@keyframes buttonClick {
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
